<%= form_tag deleterole_path(@zombie), :method => :delete do %>
	<ul>
	<% for role in @current %>
		<li>
		<%= check_box_tag('select_role[]', role.title) %>
		<%= role.title %>		
		</li>		
	<% end %>
	</ul>
	<%= submit_tag "Remove roles" %>
<% end %>