<form>	
	<% @roles_choice.each do |choice| %>
		
		<%= check_box_tag('select_role',"#{choice.title}",false, class: "#{choice.title}") + "#{choice.title}" %><br>
		
	<% end %>	
	<%= button_to "Test", @role_update, remote: true %>

</form>

