<%= form_tag addrole_zombie_path, :method => 'put' do %>
	<ul>
		<% @roles_choice.each do |choice| %>
		<li>
			<%= check_box_tag('select_role',"#{choice.title}",false, class: "#{choice.title}") + "#{choice.title}" %><br>
			
		<% end %>	
		</li>
		<%= submit_tag "Test" %>
	</ul>

<% end %>

